    body
{
    font: 12px;    
    margin: 0;
    background-color: palevioletred;
}
#login
{
    background-color: #fff;
    height: 370px;
    width: 400px;
	padding: 30px;
	/*下面四个属性配合使当前元素绝对居中*/
	margin:-120px 0 0 -200px;    
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-border-radius: 40px 3px 3px 3px;
    -webkit-border-radius: 40px 3px 3px 3px;
    border-radius: 40px 3px 3px 3px;  
    -webkit-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          1px 1px   0 rgba(0,   0,   0,   .1),
          3px 3px   0 rgba(255, 255, 255, 1),
          4px 4px   0 rgba(0,   0,   0,   .1),
          6px 6px   0 rgba(255, 255, 255, 1),  
          7px 7px   0 rgba(0,   0,   0,   .1);
    box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
}fieldset{
    border: 0;
    padding: 0;
    margin: 0;
}
#inputs input{
    padding: 15px 15px 15px 30px;
     margin: 0 0 10px 0;
     border: 1px solid #ccc;
     width: 353px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset，0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset，0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset，0 1px 0 #fff;
}
#inputs input:focus{
    background-color: #fff;
    border-color: #e8c291; 
    outline: none; 
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}
#actions
{
    margin: 25px 0 0 0;
}
#submit
{		
    background-color: #ffb94b;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5); 
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    padding: 0;
    float: left;
    height: 35px;
    width: 120px;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
    cursor: pointer;
}
#reset
{
   background-color: #ffb94b;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5); 
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    padding: 0;
    float: right;
    height: 35px;
    width: 120px;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
    cursor: pointer;
}
@font-face{
    font-family: '李旭科书法';
    src: url('李旭科书法.eot'),url('李旭科书法.ttf');
    font-weight: normal;
    font-style: normal;
}
h1{
    font-family: '李旭科书法';
}